
    <form class="containerPrincipal">
        <div class="imgcontainer">
          <label class="lblTitulo">Cambiar Clave</label>
        </div>
      
        <div class="container">
          <input type="text" [(ngModel)]="usuario" placeholder="Ingresar Usuario" [ngModelOptions]="{standalone: true}">
          <input type="password" [(ngModel)]="clave1" placeholder="Ingresar Clave" [ngModelOptions]="{standalone: true}">
          <input type="password" [(ngModel)]="clave2" placeholder="Confirmar Clave" [ngModelOptions]="{standalone: true}">
      
          <button type="button" (click)="CambiarClave()">Cambiar Clave</button>

          <label class="regresar" (click)="Regresar()"><b>Regresar</b></label>
        </div>
      </form>
